.wrapper{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
}

.wrapper span{
    padding:10px;
}

.wrapper span:hover{
    transform: scale(1.1);
}
.btn{
    width: 140px;
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.btn button{
    height: 20px;
    width: 110px;
    text-align: center;
    line-height: 0px;
    display: flex;
    justify-content: center;
}

span{
    height: 180px;
    width: 140px;
    /*padding: 10px;*/
    padding-bottom: 20px;
}
span img{
    height: 100%;
}

.ant-card-body{
    padding-top: 10px !important;
    padding-bottom: 40px !important;
}
.ant-card-head {
    border: transparent!important;
}
.ant-card-head-wrapper{
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.exa {
    text-align: center;
    line-height: 500px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 30px 50px;
}

.ant-card-head-title{
    text-align: left;
}
